{% extends "layouts/base.html" %}
{% load tweets %}
{%block head_extra%}
<script lang="text/javascript" src="/static/js/scrollbar/tiny_scrollbar.js" charset="utf-8"></script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script lang="text/javascript">

function count_click(tweet_id)
{
    target =  (event.target) ? event.target : ((event.currentTarget) ? event.currentTarget : event.srcElement);
    alert(target);
}

function get_tweet(tweet_id)
{
    var jqxhr = $.ajax({
        url:"{% url tweets.views.get_tweet %}"+tweet_id,
        data:{},
        type:'GET',
        dataType:'json'}).done(function(data) {
        if (data['status'] = 200)
        {
            $("#tweet-"+tweet_id).children(".details")[0].innerHTML = data['html'];
        } 
    }
    )
}

function vote_links(tweet_id,status)
{
    up_html = "<a href=\"{% url tweets.views.upvote %}"+tweet_id+"\" onclick=\"upvote_tweet('"+tweet_id+"');return false;\"><i class=\"icon-chevron-up icon-2x\"></i></a>"
    down_html = "<a href=\"{% url tweets.views.downvote %}"+tweet_id+"\" onclick=\"downvote_tweet('"+tweet_id+"');return false;\"><i class=\"icon-chevron-down icon-2x\"></i></a>"
    if (status == 'upvoted')
    {
        up_html = "<a href=\"{% url tweets.views.undo_upvote %}"+tweet_id+"\" onclick=\"undo_upvote_tweet('"+tweet_id+"');return false;\"><i class=\"icon-chevron-up icon-2x green\"></i></a>"
    }
    else if (status == 'downvoted')
    {
        down_html = "<a href=\"{% url tweets.views.undo_upvote %}"+tweet_id+"\" onclick=\"undo_downvote_tweet('"+tweet_id+"');return false;\"><i class=\"icon-chevron-down icon-2x red\"></i></a>"
    }
    return up_html+down_html
}

function upvote_tweet(tweet_id,up)
{

    var jqxhr = $.ajax({
        url:"{% url tweets.views.upvote %}"+tweet_id,
        data:{},
        type:'GET',
        dataType:'json'})
        .done(function(data) {
        if (data['status'] = 200)
        {
            $("#tweet-votes-"+tweet_id).html(vote_links(tweet_id,'upvoted'));
        }
    }
    )
}

function undo_upvote_tweet(tweet_id)
{
    var jqxhr = $.ajax({
        url:"{% url tweets.views.undo_upvote %}"+tweet_id,
        data:{},
        type:'GET',
        dataType:'json'})
    .done(function(data) {
        if (data['status'] = 200)
        {
            $("#tweet-votes-"+tweet_id).html(vote_links(tweet_id,'neutral'));
        }
    }
    )
}

function downvote_tweet(tweet_id,up)
{

    var jqxhr = $.ajax({
        url:"{% url tweets.views.downvote %}"+tweet_id,
        data:{},
        type:'GET',
        dataType:'json'})
        .done(function(data) {
        if (data['status'] = 200)
        {
            $("#tweet-votes-"+tweet_id).html(vote_links(tweet_id,'downvoted'));
        }
    }
    )
}

function undo_upvote_tweet(tweet_id)
{
    var jqxhr = $.ajax({
        url:"{% url tweets.views.undo_downvote %}"+tweet_id,
        data:{},
        type:'GET',
        dataType:'json'})
    .done(function(data) {
        if (data['status'] = 200)
        {
            $("#tweet-votes-"+tweet_id).html(vote_links(tweet_id,'neutral'));
        }
    }
    )
}

{%if request.user.is_staff %}
function add_to_category(tweet_id,category)
{
    var jqxhr = $.ajax({
        url:"{% url tweets.views.add_to_category %}"+tweet_id+"/"+category,
        data:{},
        type:'GET',
        dataType:'json'})
    .done(function(data) {
        if (data['status'] = 200)
        {
            $("#tweet-"+tweet_id+"-"+category).html("<a href=\"{% url tweets.views.remove_from_category %}"+tweet_id+"/"+category+"\" onclick=\"remove_from_category('"+tweet_id+"','"+category+"');return false;\"><span class=\"label label-success\">"+category+"</span></a>");
        }
    }
    )
}

function remove_from_category(tweet_id,category)
{
    var jqxhr = $.ajax({
        url:"{% url tweets.views.remove_from_category %}"+tweet_id+"/"+category,
        data:{},
        type:'GET',
        dataType:'json'})
    .done(function(data) {
        if (data['status'] = 200)
        {
            $("#tweet-"+tweet_id+"-"+category).html("<a href=\"{% url tweets.views.add_to_category %}"+tweet_id+"/"+category+"\" onclick=\"add_to_category('"+tweet_id+"','"+category+"');return false;\"><span class=\"label\">"+category+"</span></a>");
        }
    }
    )
}
{%endif%}

{%if not request.session.info_box_dismissed %}
function dismiss_info_box()
{
    var jqxhr = $.ajax({
        url:"{% url tweets.views.dismiss_info_box %}",
        data:{},
        type:'GET',
        dataType:'json'})
    .done(function(data) {
    }
    );
    $('.alert').alert('close');
}
{%endif%}

</script>
{%endblock%}

{%block content %}
{%if not request.session.info_box_dismissed %}
<div class="alert alert-block alert-info">
  <button type="button" class="close" data-dismiss="alert" onclick="dismiss_info_box();return false;">&times;</button>
  <strong>Hallo!</strong> <br /><br />
  Sozialfunk ist eine auf Twitter basierende, kollaborative Nachrichtenplattform für bürgerschaftliches Engagement. Wir präsentieren dir hier die wichtigsten <strong>Tweets</strong> von <i>Vereinen, Initiativen, NGOs, Stiftungen und Parteien</i> (<a href="{% url tweets.views.friends %}">unsere Quellen</a>). Du kannst selbst abstimmen, welche Inhalte du interessant findest und die Seite so mitgestalten. <a href="{% url tweets.views.dismiss_info_box %}" onclick="dismiss_info_box();return false;" data-dismiss="alert">(schließen)</a>
</div>
{%endif%}
<div class="row-fluid">
    <div class="span12">
  <a href="http://twitter.com"><img src="https://dev.twitter.com/sites/default/files/images_documentation/bird_blue_32.png" width="32" height="25" alt="" title="" /></a>
        <div class="btn-group">
          <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
            Kategorien: {%if selected_category %}{{selected_category}}{%else%} Alle{%endif%}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
                {%if selected_category %}<li><a href="{% url tweets.views.index %}">Alle anzeigen</a></li>{%endif%}
            {% for category in categories%}
                <li><a href="{% url tweets.views.index category %}">{{category}}</a></li>
            {%endfor%}
          </ul>
        </div>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
        {%for tweet in tweets %}
            {%include "tweets/_tweet.html" with tweet=tweet %}
        {%endfor%}
    </div>
</div>
{%endblock%}