{% extends "layouts/base.html" %}
{% load tweets %}
{%block head_extra%}
<script lang="text/javascript" src="/static/js/scrollbar/tiny_scrollbar.js" charset="utf-8"></script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script type="text/javascript" src="{% url tweets.js %}"></script>
<script type="text/javascript">
var load_tweets_url = "{% url tweets.views.raw_timeline %}";
</script>
{%endblock%}

{%block content %}
{%if not request.session.info_box_dismissed %}
<div class="alert alert-block alert-info">
  <button type="button" class="close" data-dismiss="alert" onclick="dismiss_info_box();return false;">&times;</button>
  <strong>Hallo!</strong> <br /><br />
  Sozialfunk ist eine auf Twitter basierende, kollaborative Nachrichtenplattform für bürgerschaftliches Engagement. Wir präsentieren dir hier die wichtigsten <strong>Tweets</strong> von <i>Vereinen, Initiativen, NGOs, Stiftungen und Parteien</i> (<a href="{% url tweets.views.friends %}">unsere Quellen</a>). Du kannst selbst abstimmen, welche Inhalte du interessant findest und die Seite so mitgestalten. <a href="{% url tweets.views.dismiss_info_box %}" onclick="dismiss_info_box();return false;" data-dismiss="alert">(schließen)</a>
</div>
{%endif%}
<div class="row-fluid">
    <div class="span12">
  <a href="http://twitter.com"><img src="https://dev.twitter.com/sites/default/files/images_documentation/bird_blue_32.png" width="32" height="25" alt="" title="" /></a>
    </div>
</div>
<div class="row-fluid">
    <div class="span12">
      <div id="tweets">
        {%for tweet in tweets %}
            {%include "tweets/_tweet.html" with tweet=tweet %}
        {%endfor%}
      </div>
        <div id="tweets-loading">
        </div>
        <div id="tweets-nav">
            <a href="{% url tweets.views.raw_timeline%}?page={{next_page}}">more</a>
        </div>
    </div>
</div>
{%endblock%}