body,html
{
    min-height:100%;
    min-width:100%;
}

.tweet
{
    margin-top:10px;
    border-top:1px dashed #aaa;
    padding:15px 0 5px 0;
    position:relative;
    min-height:48px;
    padding-right:50px;
}

.tweet span.menu-right
{
    position:absolute;
    right:0;
    top:20px;
    width:40px;
}

.container
{
    max-width:800px;
}

.tweet i
{
    color:#bbb;
}

.green
{
    color:#0a0;
}

.tweet img
{
    position:absolute;
    left:0;
    width:48px;
}

.tweet span.name
{
    display:block;
    font-weight:bolder;
    font-size:0.9em;
}

.tweet p.infos
{
    margin-top:0;
    color:#999;
    font-size:0.9em;
}

.tweet p.text,
.tweet p.infos
{
    margin:0;
    margin-left:60px;
}

/* Tablet
------------------------- */
@media (min-width: 767px) {
  #tweet-details {
    position: fixed;
    width: 45%;
    overflow:auto;
    height:auto;
  }
}